@charset "UTF-8";

body{
    height: 100vh;
    background: linear-gradient(120deg, #3ED3FF, #62C3FF, #88B3FF, #AFA2FF, #D094FF, #F982FF);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

contain#relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 570px;
    background: transparent;
    border-radius: 7px;
    box-shadow: 4px 7px 16px rgba(0, 0, 0, 0.501);
}